body{
    margin:20px;
}

section{
    display: flex;
}
p{
    text-align: center;
    transition: all 0.5s linear;
}
.firstelement{
    height:150px;
    width:150px;
    cursor:pointer;
    margin: 10px;
    padding: 15px;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    border-radius: 20px;
}
.firstelement:first-child{
    background-color: brown;
}
.firstelement:last-child{
    background-color: black;
}
.firstelement:nth-child(2){
    background-color: cadetblue;
}
.firstelement:hover{
background-color: red;
scale:1.2;
}
.firstelement:hover p{
    scale: 1.2;
}
